= @stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600', property: 'stylesheet'
= @javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.min.js'
= @javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
= @javascript_include_tag 'scripts/main.js'
