
%article
  %p
    In die Debatte, ob Stadtgrün oder Bauland wichtiger ist für Berlin, schalten wir uns gerne ein. Wir werben für Kleingärten und wollen zeigen, welchen Wert sie für die wachsende Stadt haben: ökologisch, sozial und ökonomisch.
    Mehr erfahren:
    = @link_to 'www.dawaechstwas.de', 'https://www.dawaechstwas.de'
