%article
  %h2.generator-title Etiketten-Generator

.form-horizontal.form
  %fieldset
    .form-group
      %label.control-label{:for => "input-name"} Name
      .control-input
        %input#input-name.form-control.input-md{:name => "input-name", :placeholder => "Apfel-Zimt-Gelee", :required => "required", :type => "text", :value => "Apfel-Zimt-Gelee"}


    .form-group
      %label.control-label{:for => "select-year"} Datum
      .form-inline
        %select#select-month.form-control{:name => "select-month"}
          %option{:value => "Januar"} Januar
          %option{:value => "Februar"} Februar
          %option{:value => "März"} März
          %option{:value => "April"} April
          %option{:value => "Mai"} Mai
          %option{:value => "Juni"} Juni
          %option{:value => "Juli"} Juli
          %option{:value => "August"} August
          %option{:value => "September"} September
          %option{:value => "Oktober"} Oktober
          %option{:value => "November"} November
          %option{:value => "Dezember"} Dezember

        %select#select-year.form-control{:name => "select-year"}



    .form-group
      %label.control-label{:for => "select-union"} Verband
      .form-inline
        %select#select-union.form-control{:name => "select-union"}

    .form-group
      %label.control-label{:for => "select-kga"} Parzelle
      .form-inline
        %input#input-parcel.form-control.input-md.input-parcel{:name => "input-parcel", :placeholder => "265", :type => "number", value: "265"}

        %select#select-kga.form-control{:name => "select-kga"}

      .form-group.help
        %label.control-label
        %span.help-block
          (Deine Anlage fehlt? Dann
          = @link_to 'schreib', 'mailto:interesse@dawaechstwas.de'
          uns)

    .form-group
      %label.control-label{:for => "input-free-text"} Freitext
      .control-input
        %textarea#input-free-text.form-control.input-md.input-freetext{:name => "input-free-text", :placeholder => "Hier hast du Platz für deinen Namen oder eine persönliche Note", :type => "text"}

    .form-group
      %label.control-label
      .control-input
        %button#button-print.btn.btn-success.pull-right{:name => "button-print"} Drucken
        %span.help-block
          *ACHTUNG! Bei falscher Druckdarstellung oder fehlenden Texten, bitte noch einmal auf "Drucken" klicken.
