= @image_tag 'hr.png', class: 'hr-notes'

%article.notes.row
  %h2.generator-title Hinweise
  %ul
    %li Der Generator ist für den Browser Chrome optimiert.
    %li Die Druckvorlage ist für Etikettenbögen von 97x42 mm angelegt.
    %li Weil aber jeder Drucker anders tickt, empfehlen wir DINA4 Klebefolien und selbst ausschneiden.
