= @image_tag 'hr.png', class: 'hr-notes'

%article.notes.row
  %h2.generator-title Hinweise
  %ul
    %li Bitte verwende den
      = @link_to('Browser Chrome', 'https://www.google.com/intl/de_ALL/chrome/', target: '_blank') + '.'
    %li Die Druckvorlage ist für Etikettenbögen von 97x42 mm angelegt.
    %li Weil aber jeder Drucker anders tickt, empfehlen wir DINA4 Klebefolien und selbst ausschneiden.
