
%article.preview
  %h2.preview-title Vorschau

  %ul.color-chooser
    %li.bordeaux
    %li.himbeere
    %li.apricot

  .preview-screen.bordeaux
    = @image_tag 'labels/bordeaux.jpg', class: 'label-background'
    .name
    .date
    .from
    .free-line
