
%article.preview
  .preview-screen-wrapper
    .preview-screen.bordeaux
      = @image_tag 'labels/bordeaux.jpg', class: 'label-background'
      .name
      .date
      .from
      .free-line
      
  %ul.color-chooser
