body
  position: relative
  color: $page-color-black
  font-size: 16px
  &::after
    content: ""
    opacity: 0.6
    top: 0
    left: 0
    bottom: 0
    right: 0
    position: absolute
    z-index: -1
    background: url('../images/bg.jpg') top center no-repeat
    background-size: cover
    background-position: center center
    background-repeat: no-repeat


a, a:hover
  color: $page-color-green
  font-weight: bold

.generator-title
  font-family: "Brandon-One"
  color: $page-color-green
  padding: 10px 0 20px 0
  font-size: 40px
  +min-width-sm
    padding: 30px 0 20px 0
    font-size: 50px

.preview-title
  +min-width-md
    display: none

.btn-success
  background-color: $page-color-green

.content-wrapper
  margin: 0 auto
  background-color: #fff
  max-width: 940px
  box-shadow: 5px 10px 42px -6px rgba(0,0,0,0.3)

  .content-inner-wrapper
    padding: 20px 0
    +headlines
      text-align: center
    p
      text-align: center

    article, .form
      padding: 0 15px

    article.preview
      +max-width-xs
        padding: 0

    // +max-width-sm
    .preview, .form
      float: right
