.footer
  width: 100%
  padding: 20px 0
  color: $footer-text-color
  text-align: center
  > img
    margin-top: 50px
  ul
    list-style-type: none
    li
      +inline-block

      a
        font-weight: normal
        padding: 0 3px
