
ul.color-chooser
  list-style-type: none
  margin: 0
  padding: 0
  li
    +inline-block
    width: 50px
    height: 30px
    padding: 10px 20px
    border-radius: 3px
    cursor: pointer
    box-shadow: 1px 2px 9px 0px rgba(0,0,0,.56)
    position: relative
    &.bordeaux
      background-color: $label-color-bordeaux
    &.apricot
      background-color: $label-color-apricot
    &.himbeere
      background-color: $label-color-himbeere

    &:hover, &:active, &:focus, &.active
      box-shadow: 1px 1px 4px 0px rgba(0,0,0,.56)
      top: 1px
      left: 1px


.form
  +make-xs-column(12)
  +make-md-column(6)
  .control-label
    +make-xs-column(12)
    +make-sm-column(3)
    +make-md-column(3)
    padding-right: 10px

  .control-input
    +make-xs-column(12)
    +make-sm-column(8)
    +make-md-column(8)

  .form-control
    box-shadow: inset 1px 1px 5px rgba(0,0,0, .1)

  #select-month
    display: inline-block
    margin-bottom: 3px
    margin-right: 5px
    +min-width-sm
      margin-bottom: 0

  #select-year
    display: inline-block

  #select-union
    min-width: 255px

  #select-kga
    min-width: 200px

  .input-parcel
    margin-right: 5px
    margin-bottom: 3px
    +min-width-sm
      width: 70px
      margin-bottom: 0

  .form-group.help
    margin-bottom: 0
    .help-block
      margin-bottom: 0

  .help-block
    font-size: 12px
