
ul.color-chooser
  list-style-type: none
  margin: 0
  padding: 0
  li
    +inline-block
    width: 50px
    height: 30px
    padding: 10px 20px
    border-radius: 3px
    cursor: pointer
    &.bordeaux
      background-color: $label-color-bordeaux
    &.apricot
      background-color: $label-color-apricot
    &.himbeere
      background-color: $label-color-himbeere

.form
  +make-xs-column(12)
  +make-md-column(6)
  .control-label
    +make-xs-column(12)
    +make-sm-column(3)
    +make-md-column(3)
    padding-right: 10px

  .control-input
    +make-xs-column(12)
    +make-sm-column(8)
    +make-md-column(8)

  #select-month
    display: inline-block
    margin-bottom: 3px
    +min-width-sm
      margin-bottom: 0

  #select-year
    display: inline-block

  .input-parcel
    margin-bottom: 3px
    +min-width-sm
      width: 70px
      margin-bottom: 0



  .help-block
    font-size: 12px
