.preview
  +make-xs-column(12)
  +make-md-column(6)
  text-align: center
  .preview-screen
    box-shadow: 10px 10px 42px -6px rgba(0,0,0,0.56)
    margin: 0 auto
    +min-width-md
      margin: 10px auto
