.preview
  +make-xs-column(12)
  +make-md-column(6)
  text-align: center
  .preview-screen
    box-shadow: 10px 10px 42px -6px rgba(0,0,0,0.56)
    margin: 0 auto
    +min-width-md
      margin: 10px auto
  .preview-title
    +max-width-sm
      display: block

.preview-title
  font-family: "Brandon-One"
  display: none

.preview-screen
  border: 1px solid #ccc
  overflow: hidden
  position: relative
  width: 380px
  height: 200px
  .name, .from, .date, .free-line
    position: absolute
    text-align: center
    width: 100%
    font-family: "Grotesk-Light"
    left: 0

  .name
    top: 75px
    font-size: 30px

  .date
    top: 110px
    font-size: 12px

  .from
    top: 122px
    font-size: 14px
    font-family: "Brandon-One"

  .free-line
    top: 160px
    font-size: 14px

.preview-screen
  &.bordeaux
    .name
      color: $label-color-bordeaux !important
    .date
      color: $label-color-bordeaux !important
    .from
      color: #fff
    .free-line
      color: $label-color-bordeaux !important

  &.apricot
    .name
      color: $label-color-apricot !important
    .date
      color: $label-color-apricot !important
    .from
      color: #fff
    .free-line
      color: $label-color-apricot !important

  &.himbeere
    .name
      color: $label-color-himbeere !important
    .date
      color: $label-color-himbeere !important
    .from
      color: #fff
    .free-line
      color: $label-color-himbeere !important
